body {
  margin: 0 auto;
  padding: 28px 10%;
  max-width: 640px;

  line-height: 1.6;
  font-size: 18px;
  font-family: sans-serif;

  /*background-image: url(cats.jpg);
  background-size: cover;*/
  color: var(--tg-theme-text-color,#444);
  background-color: var(--tg-theme-bg-color,#fff);
}

h1,
h2,
h3 {
  line-height: 1.2
}

a {
  color: var(--tg-theme-link-color,#0000ee);
}

p {
  margin: .8em 0;
  color: var(--tg-theme-text-color,#000);
}

p#guessubmit {
  font-size: 20px;
  font-style: italic;
  height: 1.5em;
  display: flex;
  justify-content: space-between;
}

input#guess {
  font-size: inherit;
  font-style: inherit;
  width: 80%;
  color: var(--tg-theme-text-color,#000);
  background-color: var(--tg-theme-bg-color,#fff);
}

button#submit {
  font-size: inherit;
  font-style: inherit;
  width: 15%;
  max-width: 48px;
  border: 0;
  border-radius: 5px;
  color: var(--tg-theme-button-text-color,#fff);
  background-color: var(--tg-theme-button-color,#3498db);
}

table {
  border-collapse: collapse;
  /* width: 80%; */
  color: var(--tg-theme-text-color,#000);
}

td, th {
  text-align: left;
  padding: 6px;
  font-weight: normal;
  color: var(--tg-theme-text-color,#000);
}

tr:hover {
  background-color: #efefef;
}

/* code { */
/*   padding: .2em .3em; */
/*   margin: 0 .15em; */
/*   background-color: rgba(27,31,35,.05); */
/*   border-radius: 5px; */
/*   font-size: 90%; */
/* } */

/* blockquote { */
/*   padding: 8px 0px; */
/*   padding-left: 18px; */
/*   margin-left: 0px; */
/*   margin-right: 0px; */
/*   /1* background-color: #f0f0f0; *1/ */
/*   border-left: 4px solid #d6d6d6; */
/* } */

/* blockquote > :first-child { */
/*   margin-top: 0; */
/* } */

/* blockquote > :last-child { */
/*   margin-bottom: 0; */
/* } */

/* .center { */
/*   display: block; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/* } */

/* img { */
/*   max-width: 100%; */
/* } */

/* img.center { */
/*   padding: 2%; */
/*   max-width: 480px; */
/* } */

/* html body h1, */
/* html body h2, */
/* html body h3, */
/* html body h4, */
/* html body h5, */
/* html body h6 { */
/*   padding: .3em 0; */
/* } */
